# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/optimumbus_db
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=optimumbus_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Application Configuration
APP_NAME=OptimumBus API
DEBUG=True
API_V1_STR=/api/v1

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
